@tailwind base;
@tailwind components;
@tailwind utilities;


.dd{
    position: relative;
}
.dd .dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
}

.dd:hover .dropdown-content{
    display: block;
}
.baner{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/020/115/455/small/food-background-breakfast-with-yogurt-granola-or-muesli-strawberries-banner-image-for-website-photo.jpg");
    background-size: cover;
    background-position:unset

}

@media (max-width: 768px) {
    .baner{
        background-image: url("https://plus.unsplash.com/premium_photo-1663858367001-89e5c92d1e0e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D");
    }
  }
  .scroll-container{
    max-height: 700px;
    margin-bottom: 30px;
  }
  .scroll-container::-webkit-scrollbar {
    width: 3px;
    
  }
  .fetured-recipies img{
    max-height: 500px;
  }
.touch-email{
  border-bottom: 2px solid;
}
.touch-email :focus{
  border: none;
  outline: none;
}
.aclink{
  background-color: rgb(69, 80, 80);
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 5px;
}
  